body, html {
    background-color: gray;
    height: 100%;
}
/* ------------------------------------------------------ */
#toolBox {
    position: absolute;
    width: 4%;
    height: 40%;
    top: 0%;
    left: 70%;
    z-index: 20;
    border: 5px solid white;
    background-color: rgb(47, 47, 47);
    border-radius: 3px;
    cursor: move;
}
/* ------------------------------------------------------ */
#videos {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}
/* ------------------------------------------------------ */
#subscriber {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    z-index: 10;
    border: 0px;
    border-radius: 0px;
}
/* ------------------------------------------------------ */
#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    margin-left: 0px;
    z-index: 10;
    border: 3px solid white;
    border-radius: 3px;
}
/* ------------------------------------------------------ */
#textchat{
    position: relative;
    width: 20%;
    float: right;
    right: 0;
    height: 100%;
    background-color: #333;
}
/* ------------------------------------------------------ */
#history {
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}
/* ------------------------------------------------------ */
input#msgTxt1 {
    height: 7%;
    position: absolute;
    bottom: 0%;
    border: 2px solid transparent;
    transition: all 0.3s;
    width: 25%;
    z-index: 1;
}
#msgTxt1:hover {
    border: 3px solid rgb(122, 176, 136);
    z-index: 2;
}
/* ------------------------------------------------------ */
input#msgTxt2 {
    height: 7%;
    position: absolute;
    bottom: 0%;
    right: 46%;
    border: 2px solid transparent;
    transition: all 0.3s;
    width: 25%;
    z-index: 1;
}
#msgTxt2:hover {
    border: 3px solid rgb(122, 176, 136);
    z-index: 2;
}
/* ------------------------------------------------------ */
input#msgTxt3 {
    height: 7%;
    position: absolute;
    bottom: 0%;
    right: 19%;
    border: 2px solid transparent;
    transition: all 0.3s;
    width: 25%;
    z-index: 1;
}
#msgTxt3:hover {
    border: 3px solid rgb(122, 176, 136);
    z-index: 2;
}
/* ------------------------------------------------------ */
button#sendButton {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 19%;
    height: 7.8%;
    z-index: 1;
}
#sendButton:active {
    border-bottom: 3px solid #999;
    bottom: -0.3%;
}
#sendButton:hover {
    cursor: hand; 
    cursor: pointer;
}
/* ------------------------------------------------------ */
button#toggleButton {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 16.7%;
}
#toggleButton:active {
    border-bottom: 3px solid #999;
    top: 0.3%;
}
#toggleButton:hover {
    cursor: hand; 
    cursor: pointer;
}
/* ------------------------------------------------------ */
button#toggleChat {
    position: absolute;
    top: 16.7%;
    left: 0%;
    width: 100%;
    height: 16.7%;
}
#toggleChat:active {
    border-bottom: 3px solid #999;
    top: 17%;
}
#toggleChat:hover {
    cursor: hand; 
    cursor: pointer;
}
/* ------------------------------------------------------ */
button#toggleCamera {
    position: absolute;
    top: 33.4%;
    left: 0%;
    width: 100%;
    height: 16.7%;
}
#toggleCamera:active {
    border-bottom: 3px solid #999;
    top: 33.7%;
}
#toggleCamera:hover {
    cursor: hand; 
    cursor: pointer;
}
/* ------------------------------------------------------ */
button#screenShot {
    position: absolute;
    top: 50.1%;
    left: 0%;
    width: 100%;
    height: 16.7%;
}
#screenShot:active {
    border-bottom: 3px solid #999;
    top: 50.4%;
}
#screenShot:hover {
    cursor: hand; 
    cursor: pointer;
}
/* ------------------------------------------------------ */
button#shareScreen {
    position: absolute;
    top: 66.8%;
    left: 0%;
    width: 100%;
    height: 16.7%;
}
#shareScreen:active {
    border-bottom: 3px solid #999;
    top: 67.1%;
}
#shareScreen:hover {
    cursor: hand; 
    cursor: pointer;
}
/* ------------------------------------------------------ */
button#fullScreen {
    position: absolute;
    top: 83.5%;
    left: 0%;
    width: 100%;
    height: 16.7%;
}
#fullScreen:active {
    border-bottom: 3px solid #999;
    top: 83.8%;
}
#fullScreen:hover {
    cursor: hand; 
    cursor: pointer;
}
/* ------------------------------------------------------ */
#history .mine {
    color: #00FF00;
    text-align: right;
    margin-right: 10px;
}
/* ------------------------------------------------------ */
#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}
/* ------------------------------------------------------ */
.btn {
    font-size: 150%;
}